{%extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-5">
         <h3 class = "gallery-link"><a href="{% url 'gallery' %}">..Back to Gallery</a></h3> 
        </div>
      </div>
 
  <hr>

  {% if results %}
  <h2 class="text-center" id="found">Found images in '{{message}}'.</h2>
  {% else %}
  <h2 class="text-center" id="foundnon"> Found 0 images for your search {{message}}</h2>

  <a class="d-block mx-auto" href="/">
      <button class="btn btn-sm btn-info d-block mx-auto">Back Home</button>
  </a>
  {% endif %}
  <div class="container">
        <div class="row" >
            {% for image in results %}
      
          <div class="col-md-4" id="img-cont" >
            <img src="{{image.image.url}}" alt="{{image.name}}" class="card-img" height="300">
          </div>
         
          <div class =col-md-6 id="desc-cont">
            <p class =>
                <strong>Title:</strong>{{image.name}}
              </p>
              <p class =>
                <strong>Description:</strong> <br>{{image.description}}
              </p>
              <p class="">
                <strong>Category:</strong> {{image.category}}
              </p>
          </div>
          {% endfor %}
      </div>       
             
  </div>
</div>
{% endblock %}